:root {
  --x: 0%;
  --gradient-angle: 135deg;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.text-yellow {
  color: #fcd15a;
}

.frame {
  border-radius: 20px;
  width: 400px;
  padding: 40px;
  word-wrap: break-word;
  backdrop-filter: blur(3px);
  background: linear-gradient(to bottom, #ffffff0f, #30303810);
  border: 1px solid rgba(130, 130, 142, 1);
}

input {
  color: #fff;
  background-color: #1d1d24;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
}

input::placeholder {
  color: rgba(163, 163, 168, 1);
}

input:focus {
  outline: none;
  border: 1px solid #82828e;
}

input:hover,
input:active {
  border: 1px solid #82828e;
}

label {
  font-size: 14px;
  line-height: 21px;
}

body {
  background-image: url("./assets/background.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.protected-data-frame {
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 24px;
  display: inline-block;
}

.plus {
  height: 12px;
}

.border-gray {
  border-color: #82828e;
  background-color: #1d1d24;
}

.data-unselected {
  border: solid 1px gray;
}

@keyframes rotateGradient {
  to {
    --gradient-angle: calc(var(--gradient-angle) + 1deg);
  }
}

.data-selected {
  border: 1px solid transparent;
  animation: rotateGradient 5s linear infinite;
  background:
    linear-gradient(#1d1d24 0 0) padding-box,
    /*this is your grey background*/
      linear-gradient(
        var(--gradient-angle),
        #1d1d24,
        #1d1d2400,
        #3f0d3f,
        #ce2c68,
        #fcd15a
      )
      border-box;
}
